
  <div class="col-md-9">
    <h2>A little about me</h2>
    <p class="text-justify"> I'm a passionate web developer with interests in making creative experiences to users
      to make complex tasks or transactions easy to work with. I work on projects to learn new
      technologies and also to show case my skills. Right now I work full time as a Volunteer Full Stack Web Developer
      in an IT consultancy. <br>
      I got my Masters in Computer Science in December 2016, Bachelors in CS in 2015.
      I've also learnt a lot in my Full Stack Web Developer Nanodegree Program, by Udacity, from which I
      graduated in May 2017. <br>
      All these experiences have added up to make skilled in the area of web development.
    </p>
     <img class="infoIcon" src="../assets/info_icon.png" alt="" (click)="generateInfo()">

  </div>
  




  <!--
    <app-info-bubble
      *ngIf = "flash"
      [ngClass]="{'col-md-12': mobile}"
    ></app-info-bubble>
      -->