<div class="row">
  <div class="col-md-9">
    <h2>What I can do for you: </h2>
    <p class="text-justify">
      Please go through this complete website that I made with Angular4 using TypeScript,
      to actually see the features that I've used in this web app. This is something I can
      do for you and actually much more. This app mostly show cases my Angular, TypeScript ,
       Bootstrap and few other skills, but you can go through my skills section to know if
       I can actually meet the requirements to get your work done.
    </p>
  </div>
</div>
